<?xml version="1.0" ?>
<robot name="slab_h">

<link name="base_link">
  <inertial>
    <origin xyz="0.0 0.0 1.5" rpy="0 0 0"/>
    <mass value="3296.999999999999"/>
    <inertia ixx="2747.5" iyy="2478.1351" izz="280.1351" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/slab_h.stl" scale="0.001 0.001 0.0005"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="meshes/slab_h.stl" scale="0.001 0.001 0.0005"/>
    </geometry>
  </collision>
</link>

</robot>
